# Código de inicialización
Este código permite inicializar las bibliotecas para usar SQLite en la máquina virtual de Google Colab. El código además elimina cualquier dato almacenado anteriormente en el archivo `ejemplos.db`. Es recomendable volver a correr el código cada vez que se comience con la resolución de un nuevo ejercicio.

In [1]:
!pip install pymysql
%load_ext sql
!rm -rf ejemplos.db
%sql sqlite:///ejemplos.db

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.7 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

# EJERCICIOS DE GROUP y HAVING

## Ejercicio 1: Ventas por Ciudad de distintos insumos informáticos

Tienes dos tablas llamadas `Ventas` y `Productos`:

- La tabla `Ventas` tiene las siguientes columnas:
  - `VentaID` (INT)
  - `ProductoID` (INT, FOREIGN KEY que referencia a `Productos(ProductoID)`)
  - `CantidadVendida` (INT)
  - `PrecioUnitario` (DECIMAL)
  - `Ciudad` (VARCHAR)

- La tabla `Productos` tiene las siguientes columnas:
  - `ProductoID` (INT, PRIMARY KEY)
  - `NombreProducto` (VARCHAR)
  - `Precio` (DECIMAL)

Deseas analizar las ventas por ciudad, combinando la información de ambas tablas para mostrar el nombre de los productos vendidos y el total de ingresos generados por cada ciudad.

In [2]:
%%sql
CREATE TABLE Productos (
    ProductoID INT PRIMARY KEY,
    NombreProducto VARCHAR,
    Precio DECIMAL
);

CREATE TABLE Ventas (
    VentaID INT,
    ProductoID INT,
    CantidadVendida INT,
    PrecioUnitario DECIMAL,
    Ciudad VARCHAR,
    FOREIGN KEY (ProductoID) REFERENCES Productos(ProductoID)
);

 * sqlite:///ejemplos.db
Done.
Done.

[]

**Rellenado de la tabla Ventas**

In [3]:
%%sql
-- Población de la tabla Productos
INSERT INTO Productos (ProductoID, NombreProducto, Precio) VALUES
(1, 'Laptop', 1000.00),
(2, 'Teclado', 50.00),
(3, 'Mouse', 25.00);

-- Población de la tabla Ventas
INSERT INTO Ventas (VentaID, ProductoID, CantidadVendida, PrecioUnitario, Ciudad) VALUES
(1, 1, 10, 1000.00, 'Buenos Aires'),
(2, 2, 20, 50.00, 'Córdoba'),
(3, 3, 15, 25.00, 'Rosario'),
(4, 1, 5, 1000.00, 'Córdoba'),
(5, 1, 6, 1000.00, 'Buenos Aires');

 * sqlite:///ejemplos.db
3 rows affected.
5 rows affected.

[]

**Consignas del ejercicio:**

1. Encuentre el total de ingresos (`CantidadVendida * PrecioUnitario`) por cada ciudad.

In [4]:
%%sql
-- Escribe tu consulta SQL para calcular los ingresos por ciudad aquí
SELECT Ciudad, SUM(CantidadVendida * PrecioUnitario) AS TotalIngresos
FROM Ventas
GROUP BY Ciudad;

 * sqlite:///ejemplos.db
Done.

[('Buenos Aires', 16000), ('Córdoba', 6000), ('Rosario', 375)]

2. Escriba el código SQL para listar las Ciudades cuyo total de ingresos supera los $500.

In [5]:
%%sql
SELECT Ciudad, SUM(CantidadVendida * PrecioUnitario) AS TotalIngresos
FROM Ventas
GROUP BY Ciudad
HAVING SUM(CantidadVendida * PrecioUnitario) > 500;

 * sqlite:///ejemplos.db
Done.

[('Buenos Aires', 16000), ('Córdoba', 6000)]

3. Modifique la consulta del inciso 2 para ordenar las Ciudades de mayor a menor ingreso total.

In [6]:
%%sql
-- Escribe tu consulta SQL aquí
SELECT Ciudad, SUM(CantidadVendida * PrecioUnitario) AS TotalIngresos
FROM Ventas
GROUP BY Ciudad
HAVING SUM(CantidadVendida * PrecioUnitario) > 500
ORDER BY TotalIngresos DESC;

 * sqlite:///ejemplos.db
Done.

[('Buenos Aires', 16000), ('Córdoba', 6000)]

## Ejercicio 2: Promedio de Calificaciones por Curso

Considera las siguientes tres tablas:

- La tabla **Estudiantes** contiene información sobre los estudiantes inscritos:
  - `EstudianteID` (INT, PRIMARY KEY)
  - `Nombre` (VARCHAR)

- La tabla **Cursos** contiene información sobre los cursos disponibles:
  - `CursoID` (INT, PRIMARY KEY)
  - `NombreCurso` (VARCHAR)

- La tabla **Calificaciones** registra las notas de los estudiantes en los cursos:
  - `CalificacionID` (INT, PRIMARY KEY)
  - `EstudianteID` (INT, FOREIGN KEY que referencia a `Estudiantes(EstudianteID)`)
  - `CursoID` (INT, FOREIGN KEY que referencia a `Cursos(CursoID)`)
  - `Nota` (DECIMAL)

En este ejercicio, debes analizar el rendimiento de los estudiantes en cada curso, combinando la información de las tres tablas.

In [7]:
%%sql
-- Escribe aquí el código DDL para crear las tablas Estudiantes, Cursos y Calificaciones
CREATE TABLE Estudiantes (
    EstudianteID INT PRIMARY KEY,
    Nombre VARCHAR
);

CREATE TABLE Cursos (
    CursoID INT PRIMARY KEY,
    NombreCurso VARCHAR
);

CREATE TABLE Calificaciones (
    CalificacionID INT PRIMARY KEY,
    EstudianteID INT,
    CursoID INT,
    Nota DECIMAL,
    FOREIGN KEY (EstudianteID) REFERENCES Estudiantes(EstudianteID),
    FOREIGN KEY (CursoID) REFERENCES Cursos(CursoID)
);

 * sqlite:///ejemplos.db
Done.
Done.
Done.

[]

**Población de la tabla Calificaciones**

In [8]:
%%sql
-- Población de la tabla Estudiantes
INSERT INTO Estudiantes (EstudianteID, Nombre) VALUES
(1, 'Ana'),
(2, 'Luis'),
(3, 'Carlos');

-- Población de la tabla Cursos
INSERT INTO Cursos (CursoID, NombreCurso) VALUES
(1, 'Matemáticas'),
(2, 'Historia'),
(3, 'Ciencias');

-- Población de la tabla Calificaciones
INSERT INTO Calificaciones (CalificacionID, EstudianteID, CursoID, Nota) VALUES
(1, 1, 1, 90),
(2, 2, 1, 85),
(3, 3, 1, 88),
(4, 1, 2, 95),
(5, 2, 2, 80),
(6, 3, 2, 78),
(7, 1, 3, 88),
(8, 2, 3, 92),
(9, 3, 3, 85);

 * sqlite:///ejemplos.db
3 rows affected.
3 rows affected.
9 rows affected.

[]

**Consignas del ejercicio:**

1. Encuentre el promedio de `Nota` para cada `Curso`.

In [9]:
%%sql
-- Escribe tu consulta SQL para calcular el promedio de cada curso aquí
SELECT c.NombreCurso, AVG(cal.Nota) AS PromedioNota
FROM Cursos c
JOIN Calificaciones cal ON c.CursoID = cal.CursoID
GROUP BY c.NombreCurso;

 * sqlite:///ejemplos.db
Done.

[('Ciencias', 88.33333333333333),
 ('Historia', 84.33333333333333),
 ('Matemáticas', 87.66666666666667)]

2. Escriba el código SQL para listar los cursos con un promedio mayor a 85.

In [10]:
%%sql
-- Escribe tu consulta SQL aquí
SELECT c.NombreCurso, AVG(cal.Nota) AS PromedioNota
FROM Cursos c
JOIN Calificaciones cal ON c.CursoID = cal.CursoID
GROUP BY c.NombreCurso
HAVING AVG(cal.Nota) > 85;

 * sqlite:///ejemplos.db
Done.

[('Ciencias', 88.33333333333333), ('Matemáticas', 87.66666666666667)]